<h2>LodgeCard</h2>
<h3>Gran Supremo Consejo</h3>
<h4>Grandes Orientes por Estado</h4>
<div class="card card-warning card-outline">
    <div class="card-header"><h5 class="animate__animated animate__fadeInUp animate__slow">REAA</h5></div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>ORIENTE</th>
                    <th>RESPONSABLE</th>
                    <th>CARGO</th>
                    <th>TELEFONO</th>
                    <th>CORREO</th>
                    <th>DIRECCION</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GRAN ORIENTE DE TLAXCALA</td>
                    <td>FULANO DE TAL</td>
                    <td>PENDIENTE</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>GRAN ORIENTE DE VERACRUZ</td>
                    <td>FULANO DE TAL</td>
                    <td>PENDIENTE</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>


            </tbody>
        </table>
    </div>
</div>

<footer>Powered by LodgeCard</footer>
