<h2>LodgeCard</h2>
<h3>Gran Supremo Consejo</h3>
<h4>Miembros por Logia</h4>
<div class="card card-warning card-outline">
    <div class="card-header"><h5 class="animate__animated animate__fadeInUp animate__slow">REAA</h5></div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>Cargo</th>
                    <th>Logia</th>
                    <th>Rito</th>
                    <th>Grado</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Edad</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Ocupación</th>
                    <th>Dirección</th>
                    <th>Municipio</th>
                    <th>Ciudad/Estado</th>
                    <th>Nacionalidad</th>
                    <th>Logia Madre</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RAFAEL RODRIGUEZ DELGADO</td>
                    <td>VENERABLE MAESTRO</td>
                    <td>CABALLEDOR DE LA LUZ No. 11</td>
                    <td>REAA</td>
                    <td>33/Templario</td>
                    <td>5500000000</td>
                    <td>correoJoseLuisTrueba@gmail.com</td>
                    <td>38</td>
                    <th>22/07/1999</th>
                    <td>Ingeniero</td>
                    <td>callle....colonia</td>
                    <td>Iztapalapa</td>
                    <td>CDMX</td>
                    <td>Mexicano</td>
                    <td>Caballero de la Luz No.11</td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
<footer>Powered by LodgeCard</footer>
