
@{
    ViewBag.Title = "Noticias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LodgeCard</h1>
<h4>Noticias</h4>
<div class="card card-warning card-outline">
    <div class="card-header"><h5 class="animate__animated animate__fadeInUp animate__slow">TEXTOPRUEBA</h5></div>
    <div class="card-body">

    </div>
</div>
<footer>Powered by LodgeCard</footer>
