<h2>LodgeCard</h2>
<h3>Gran Supremo Consejo</h3>
<h4>Soberanias por Estado</h4>
<div class="card card-warning card-outline">
    <div class="card-header"><h5 class="animate__animated animate__fadeInUp animate__slow">REAA</h5></div>
    <div class="card-body">
        <table>
            <thead>
                <tr>
                    <th>SOBERANIA</th>
                    <th>RESPONSABLE</th>
                    <th>CARGO</th>
                    <th>TELEFONO</th>
                    <th>CORREO</th>
                    <th>DIRECCION</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>GRAN SUPREMO CONSEJO - CDMX </td>
                    <td>JORGE AVILES</td>
                    <td>Gran Comendador Nacional</td>
                    <td>jorge_aviles@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>AGUASCALIENTES</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>BAJA CALIFORNIA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>BAJA CALIFORNIA SUR</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>CAMPECHE</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>CHIAPAS</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>CHIHUAHUA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>CDMX</td>
                    <td>JOSE LUIS TRUEBA</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>COAHUILA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>COLIMA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>DURANGO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>ESTADO DE MÉXICO</td>
                    <td>LEONARDO OBREGON SANTACILIA</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>GUANAJUATO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>GUERRERO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>HIDALGO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>JALISCO</td>
                    <td>lUUIS FELIPE QUIROZ</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>MICHOACAN</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>MORELOS</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>NAYARIT</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>NUEVO LEON</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>OAXACA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>PUEBLA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>QUERÉTARO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>QUINTANA ROO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>SAN LUIS POTOSI</td>
                    <td>MARIANO POMPA MUÑOZ</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>SINALOA</td>
                    <td>IVAN EDUARDO SALA CORREA</td>
                    <td>Comendador</td>
                    <td>ivan.sala.produccion@gmail.com</td>
                    <td>5543757973</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>SONORA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>TABASCO</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>TAMAULIPAS</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>TLAXCALA</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>VERACRUZ</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>YUCATAN</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

                <tr>
                    <td>ZACATECAS</td>
                    <td>FULANO DE TAL</td>
                    <td>Comendador</td>
                    <td>correodeprueba@gmail.com</td>
                    <td>5546543120</td>
                    <td>direccion Predeterminada 80 col</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<footer>Powered by LodgeCard</footer>
