<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 2</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <script src="../../Content/plugins/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="../../Content/plugins/fontawesome-free/css/fontawesome.css">
    <link rel="stylesheet" href="../../Content/dist/css/adminlte.min.css">
    <link href="../../Content/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet">
    <link href="../../Content/plugins/datatables/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__wobble" src="~/Content/img/g33.jpg" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Soberania/Index" class="nav-link">SOBERANIAS</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/GranOriente/Index" class="nav-link">GRAN ORIENTE</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Logia/Index" class="nav-link">LOGIA</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/MiembroLogia/Index" class="nav-link">MIEMBROS DE LOGIA</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a href="/Home/Valida_tu_LodgeCard" class="nav-link">VALIDA TU LODGECARD</a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Content/img/g33.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Agenda</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Inicio">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    INICIO
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Noticias">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    NOTICIAS
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Eventos">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    EVENTOS
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Contacto_y_Soporte">
                                <i class="nav-icon fas fa-calendar-alt"></i>
                                <p>
                                    CONTACTO & SOPORTE
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>LodgeCard</strong>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <script src="../../Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../Content/dist/js/adminlte.min.js"></script>
    @*<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>*@
    <script src="../../Content/plugins/sweetalert/sweetalert2.min.js"></script>
    <script src="../../Content/plugins/datatables/datatables.min.js"></script>
    @*<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
        <script src="../../plugins/jquery-validation/additional-methods.min.js"></script>*@
    <script src="../../Content/dist/js/global.js"></script>
    <script type="text/javascript">
        $('table').DataTable({
            language: {
                url: '../Content/plugins/datatables/es-ES.json',
            }
        });
    </script>
</body>
</html>
